In [36]:
import numpy as np
import pandas as pd
import pickle

In [37]:
df=pd.read_csv("Salary_Data.csv")

In [38]:
df=df.dropna()

In [39]:

# Get the list of column names
categorical_columns = df.select_dtypes(include=['object']).columns


# Iterate over each categorical column
for column in categorical_columns:
    unique_values = df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'Gender': ['Male' 'Female' 'Other']
Unique values in 'Education Level': ["Bachelor's" "Master's" 'PhD' "Bachelor's Degree" "Master's Degree"
 'High School' 'phD']
Unique values in 'Job Title': ['Software Engineer' 'Data Analyst' 'Senior Manager' 'Sales Associate'
 'Director' 'Marketing Analyst' 'Product Manager' 'Sales Manager'
 'Marketing Coordinator' 'Senior Scientist' 'Software Developer'
 'HR Manager' 'Financial Analyst' 'Project Manager' 'Customer Service Rep'
 'Operations Manager' 'Marketing Manager' 'Senior Engineer'
 'Data Entry Clerk' 'Sales Director' 'Business Analyst' 'VP of Operations'
 'IT Support' 'Recruiter' 'Financial Manager' 'Social Media Specialist'
 'Software Manager' 'Junior Developer' 'Senior Consultant'
 'Product Designer' 'CEO' 'Accountant' 'Data Scientist'
 'Marketing Specialist' 'Technical Writer' 'HR Generalist'
 'Project Engineer' 'Customer Success Rep' 'Sales Executive' 'UX Designer'
 'Operations Director' 'Network Engineer' 'Administrative Assistant'
 'Strategy Consultant' 'Copywriter' 'Account Manager'
 'Director of Marketing' 'Help Desk Analyst' 'Customer Service Manager'
 'Business Intelligence Analyst' 'Event Coordinator' 'VP of Finance'
 'Graphic Designer' 'UX Researcher' 'Social Media Manager'
 'Director of Operations' 'Senior Data Scientist' 'Junior Accountant'
 'Digital Marketing Manager' 'IT Manager'
 'Customer Service Representative' 'Business Development Manager'
 'Senior Financial Analyst' 'Web Developer' 'Research Director'
 'Technical Support Specialist' 'Creative Director'
 'Senior Software Engineer' 'Human Resources Director'
 'Content Marketing Manager' 'Technical Recruiter' 'Sales Representative'
 'Chief Technology Officer' 'Junior Designer' 'Financial Advisor'
 'Junior Account Manager' 'Senior Project Manager' 'Principal Scientist'
 'Supply Chain Manager' 'Senior Marketing Manager' 'Training Specialist'
 'Research Scientist' 'Junior Software Developer'
 'Public Relations Manager' 'Operations Analyst'
 'Product Marketing Manager' 'Senior HR Manager' 'Junior Web Developer'
 'Senior Project Coordinator' 'Chief Data Officer'
 'Digital Content Producer' 'IT Support Specialist'
 'Senior Marketing Analyst' 'Customer Success Manager'
 'Senior Graphic Designer' 'Software Project Manager'
 'Supply Chain Analyst' 'Senior Business Analyst'
 'Junior Marketing Analyst' 'Office Manager' 'Principal Engineer'
 'Junior HR Generalist' 'Senior Product Manager'
 'Junior Operations Analyst' 'Senior HR Generalist'
 'Sales Operations Manager' 'Senior Software Developer'
 'Junior Web Designer' 'Senior Training Specialist'
 'Senior Research Scientist' 'Junior Sales Representative'
 'Junior Marketing Manager' 'Junior Data Analyst'
 'Senior Product Marketing Manager' 'Junior Business Analyst'
 'Senior Sales Manager' 'Junior Marketing Specialist'
 'Junior Project Manager' 'Senior Accountant' 'Director of Sales'
 'Junior Recruiter' 'Senior Business Development Manager'
 'Senior Product Designer' 'Junior Customer Support Specialist'
 'Senior IT Support Specialist' 'Junior Financial Analyst'
 'Senior Operations Manager' 'Director of Human Resources'
 'Junior Software Engineer' 'Senior Sales Representative'
 'Director of Product Management' 'Junior Copywriter'
 'Senior Marketing Coordinator' 'Senior Human Resources Manager'
 'Junior Business Development Associate' 'Senior Account Manager'
 'Senior Researcher' 'Junior HR Coordinator' 'Director of Finance'
 'Junior Marketing Coordinator' 'Junior Data Scientist'
 'Senior Operations Analyst' 'Senior Human Resources Coordinator'
 'Senior UX Designer' 'Junior Product Manager'
 'Senior Marketing Specialist' 'Senior IT Project Manager'
 'Senior Quality Assurance Analyst' 'Director of Sales and Marketing'
 'Senior Account Executive' 'Director of Business Development'
 'Junior Social Media Manager' 'Senior Human Resources Specialist'
 'Senior Data Analyst' 'Director of Human Capital'
 'Junior Advertising Coordinator' 'Junior UX Designer'
 'Senior Marketing Director' 'Senior IT Consultant'
 'Senior Financial Advisor' 'Junior Business Operations Analyst'
 'Junior Social Media Specialist' 'Senior Product Development Manager'
 'Junior Operations Manager' 'Senior Software Architect'
 'Junior Research Scientist' 'Senior Financial Manager'
 'Senior HR Specialist' 'Senior Data Engineer'
 'Junior Operations Coordinator' 'Director of HR'
 'Senior Operations Coordinator' 'Junior Financial Advisor'
 'Director of Engineering' 'Software Engineer Manager'
 'Back end Developer' 'Senior Project Engineer' 'Full Stack Engineer'
 'Front end Developer' 'Front End Developer' 'Director of Data Science'
 'Human Resources Coordinator' 'Junior Sales Associate'
 'Human Resources Manager' 'Juniour HR Generalist'
 'Juniour HR Coordinator' 'Digital Marketing Specialist' 'Receptionist'
 'Marketing Director' 'Social Media Man' 'Delivery Driver']

In [40]:


# Define a dictionary to map job titles to broader categories
title_mapping = {
    'Software Engineer': 'Engineering',
    'Data Analyst': 'Analytics',
    'Senior Manager': 'Management',
    'Sales Associate': 'Sales',
    'Director': 'Management',
    'Marketing Analyst': 'Marketing',
    'Product Manager': 'Management',
    'Sales Manager': 'Management',
    'Marketing Coordinator': 'Marketing',
    'Senior Scientist': 'Science',
    'Software Developer': 'Engineering',
    'HR Manager': 'Human Resources',
    'Financial Analyst': 'Finance',
    'Project Manager': 'Management',
    'Customer Service Rep': 'Customer Service',
    'Operations Manager': 'Management',
    'Marketing Manager': 'Management',
    'Senior Engineer': 'Engineering',
    'Data Entry Clerk': 'Administrative',
    'Sales Director': 'Management',
    'Business Analyst': 'Analytics',
    'VP of Operations': 'Management',
    'IT Support': 'IT',
    'Recruiter': 'Human Resources',
    'Financial Manager': 'Finance',
    'Social Media Specialist': 'Marketing',
    'Software Manager': 'Management',
    'Junior Developer': 'Engineering',
    'Senior Consultant': 'Consulting',
    'Product Designer': 'Design',
    'CEO': 'Management',
    'Accountant': 'Finance',
    'Data Scientist': 'Analytics',
    'Marketing Specialist': 'Marketing',
    'Technical Writer': 'IT',
    'HR Generalist': 'Human Resources',
    'Project Engineer': 'Engineering',
    'Customer Success Rep': 'Customer Service',
    'Sales Executive': 'Sales',
    'UX Designer': 'Design',
    'Operations Director': 'Management',
    'Network Engineer': 'IT',
    'Administrative Assistant': 'Administrative',
    'Strategy Consultant': 'Consulting',
    'Copywriter': 'Marketing',
    'Account Manager': 'Management',
    'Director of Marketing': 'Management',
    'Help Desk Analyst': 'IT',
    'Customer Service Manager': 'Management',
    'Business Intelligence Analyst': 'Analytics',
    'Event Coordinator': 'Management',
    'VP of Finance': 'Finance',
    'Graphic Designer': 'Design',
    'UX Researcher': 'Design',
    'Social Media Manager': 'Marketing',
    'Director of Operations': 'Management',
    'Senior Data Scientist': 'Analytics',
    'Junior Accountant': 'Finance',
    'Digital Marketing Manager': 'Marketing',
    'IT Manager': 'IT',
    'Customer Service Representative': 'Customer Service',
    'Business Development Manager': 'Management',
    'Senior Financial Analyst': 'Finance',
    'Web Developer': 'Engineering',
    'Research Director': 'Management',
    'Technical Support Specialist': 'IT',
    'Creative Director': 'Design',
    'Senior Software Engineer': 'Engineering',
    'Human Resources Director': 'Human Resources',
    'Content Marketing Manager': 'Marketing',
    'Technical Recruiter': 'Human Resources',
    'Sales Representative': 'Sales',
    'Chief Technology Officer': 'Management',
    'Junior Designer': 'Design',
    'Financial Advisor': 'Finance',
    'Junior Account Manager': 'Management',
    'Senior Project Manager': 'Management',
    'Principal Scientist': 'Science',
    'Supply Chain Manager': 'Management',
    'Senior Marketing Manager': 'Marketing',
    'Training Specialist': 'Human Resources',
    'Research Scientist': 'Science',
    'Junior Software Developer': 'Engineering',
    'Public Relations Manager': 'Marketing',
    'Operations Analyst': 'Management',
    'Product Marketing Manager': 'Marketing',
    'Senior HR Manager': 'Human Resources',
    'Junior Web Developer': 'Engineering',
    'Senior Project Coordinator': 'Management',
    'Chief Data Officer': 'Management',
    'Digital Content Producer': 'Marketing',
    'IT Support Specialist': 'IT',
    'Senior Marketing Analyst': 'Marketing',
    'Customer Success Manager': 'Customer Service',
    'Senior Graphic Designer': 'Design',
    'Software Project Manager': 'Management',
    'Supply Chain Analyst': 'Management',
    'Senior Business Analyst': 'Analytics',
    'Junior Marketing Analyst': 'Marketing',
    'Office Manager': 'Administrative',
    'Principal Engineer': 'Engineering',
    'Junior HR Generalist': 'Human Resources',
    'Senior Product Manager': 'Management',
    'Junior Operations Analyst': 'Management',
    'Senior HR Generalist': 'Human Resources',
    'Sales Operations Manager': 'Management',
    'Senior Software Developer': 'Engineering',
    'Junior Web Designer': 'Design',
    'Senior Training Specialist': 'Human Resources',
    'Senior Research Scientist': 'Science',
    'Junior Sales Representative': 'Sales',
    'Junior Marketing Manager': 'Marketing',
    'Junior Data Analyst': 'Analytics',
    'Senior Product Marketing Manager': 'Marketing',
    'Junior Business Analyst': 'Analytics',
    'Senior Sales Manager': 'Management',
    'Junior Marketing Specialist': 'Marketing',
    'Junior Project Manager': 'Management',
    'Senior Accountant': 'Finance',
    'Director of Sales': 'Management',
    'Junior Recruiter': 'Human Resources',
    'Senior Business Development Manager': 'Management',
    'Senior Product Designer': 'Design',
    'Junior Customer Support Specialist': 'Customer Service',
    'Senior IT Support Specialist': 'IT',
    'Junior Financial Analyst': 'Finance',
    'Senior Operations Manager': 'Management',
    'Director of Human Resources': 'Human Resources',
    'Junior Software Engineer': 'Engineering',
    'Senior Sales Representative': 'Sales',
    'Director of Product Management': 'Management',
    'Junior Copywriter': 'Marketing',
    'Senior Marketing Coordinator': 'Marketing',
    'Senior Human Resources Manager': 'Human Resources',
    'Junior Business Development Associate': 'Management',
    'Senior Account Manager': 'Management',
    'Senior Researcher': 'Science',
    'Junior HR Coordinator': 'Human Resources',
    'Director of Finance': 'Finance',
    'Junior Marketing Coordinator': 'Marketing',
    # Add more mappings as needed
}

# Apply the mapping to the 'Job Title' column
df['Job Title'] = df['Job Title'].map(title_mapping).fillna(df['Job Title'])

# Display the reduced unique values in 'Job Title'
unique_job_titles = df['Job Title'].unique()
print("Unique values in 'Job Title':", unique_job_titles)

Unique values in 'Job Title': ['Engineering' 'Analytics' 'Management' 'Sales' 'Marketing' 'Science'
 'Human Resources' 'Finance' 'Customer Service' 'Administrative' 'IT'
 'Consulting' 'Design' 'Junior Data Scientist' 'Senior Operations Analyst'
 'Senior Human Resources Coordinator' 'Senior UX Designer'
 'Junior Product Manager' 'Senior Marketing Specialist'
 'Senior IT Project Manager' 'Senior Quality Assurance Analyst'
 'Director of Sales and Marketing' 'Senior Account Executive'
 'Director of Business Development' 'Junior Social Media Manager'
 'Senior Human Resources Specialist' 'Senior Data Analyst'
 'Director of Human Capital' 'Junior Advertising Coordinator'
 'Junior UX Designer' 'Senior Marketing Director' 'Senior IT Consultant'
 'Senior Financial Advisor' 'Junior Business Operations Analyst'
 'Junior Social Media Specialist' 'Senior Product Development Manager'
 'Junior Operations Manager' 'Senior Software Architect'
 'Junior Research Scientist' 'Senior Financial Manager'
 'Senior HR Specialist' 'Senior Data Engineer'
 'Junior Operations Coordinator' 'Director of HR'
 'Senior Operations Coordinator' 'Junior Financial Advisor'
 'Director of Engineering' 'Software Engineer Manager'
 'Back end Developer' 'Senior Project Engineer' 'Full Stack Engineer'
 'Front end Developer' 'Front End Developer' 'Director of Data Science'
 'Human Resources Coordinator' 'Junior Sales Associate'
 'Human Resources Manager' 'Juniour HR Generalist'
 'Juniour HR Coordinator' 'Digital Marketing Specialist' 'Receptionist'
 'Marketing Director' 'Social Media Man' 'Delivery Driver']

In [41]:


# Define a dictionary to map job title categories to broader groups
category_mapping = {
    'Engineering': 'Engineering',
    'Analytics': 'Engineering',
    'Management': 'Management',
    'Sales': 'Sales',
    'Marketing': 'Marketing',
    'Science': 'Engineering',
    'Human Resources': 'HR',
    'Finance': 'Support',
    'Customer Service': 'Support',
    'Administrative': 'Support',
    'IT': 'Engineering',
    'Consulting': 'Management',
    'Design': 'Creative',
    'Junior Data Scientist': 'Engineering',
    'Senior Operations Analyst': 'Engineering',
    'Senior Human Resources Coordinator': 'HR',
    'Senior UX Designer': 'Creative',
    'Junior Product Manager': 'Management',
    'Senior Marketing Specialist': 'Marketing',
    'Senior IT Project Manager': 'Management',
    'Senior Quality Assurance Analyst': 'Engineering',
    'Director of Sales and Marketing': 'Management',
    'Senior Account Executive': 'Sales',
    'Director of Business Development': 'Management',
    'Junior Social Media Manager': 'Marketing',
    'Senior Human Resources Specialist': 'HR',
    'Senior Data Analyst': 'Engineering',
    'Director of Human Capital': 'Management',
    'Junior Advertising Coordinator': 'Marketing',
    'Junior UX Designer': 'Creative',
    'Senior Marketing Director': 'Marketing',
    'Senior IT Consultant': 'Engineering',
    'Senior Financial Advisor': 'Finance',
    'Junior Business Operations Analyst': 'Management',
    'Junior Social Media Specialist': 'Marketing',
    'Senior Product Development Manager': 'Management',
    'Junior Operations Manager': 'Management',
    'Senior Software Architect': 'Engineering',
    'Junior Research Scientist': 'Engineering',
    'Senior Financial Manager': 'Finance',
    'Senior HR Specialist': 'HR',
    'Senior Data Engineer': 'Engineering',
    'Junior Operations Coordinator': 'Management',
    'Director of HR': 'HR',
    'Senior Operations Coordinator': 'Management',
    'Junior Financial Advisor': 'Finance',
    'Director of Engineering': 'Engineering',
    'Software Engineer Manager': 'Engineering',
    'Back end Developer': 'Engineering',
    'Senior Project Engineer': 'Engineering',
    'Full Stack Engineer': 'Engineering',
    'Front end Developer': 'Engineering',
    'Developer': 'Engineering',
    'Front End Developer': 'Engineering',
    'Director of Data Science': 'Engineering',
    'Human Resources Coordinator': 'HR',
    'Junior Sales Associate': 'Sales',
    'Human Resources Manager': 'HR',
    'Juniour HR Generalist': 'HR',
    'Juniour HR Coordinator': 'HR',
    'Digital Marketing Specialist': 'Marketing',
    'Receptionist': 'Support',
    'Marketing Director': 'Marketing',
    'Social M': 'Marketing',
    'Social Media Man': 'Marketing',
    'Delivery Driver': 'Support'
}

# Map the job titles to categories
df['Category'] = df['Job Title'].map(category_mapping)

# Display the updated dataset
print(df['Category'].unique())

['Engineering' 'Management' 'Sales' 'Marketing' 'HR' 'Support' 'Creative'
 'Finance']

In [42]:
education_mapping = {
    "Bachelor's": "Bachelor's Degree",
    "Master's": "Master's Degree",
    'phD': 'PhD',
    'High School': 'High School'
}

# Map the education levels to standardized format
df['Education Level'] = df['Education Level'].map(education_mapping).fillna(df['Education Level'])

# Display the unique values in the "Education Level" column
print(df['Education Level'].unique())

["Bachelor's Degree" "Master's Degree" 'PhD' 'High School']

In [43]:
count = df['Gender'].value_counts()['Other']

# Display the count
print("Number of Others: ", count)

Number of Others:  14

In [44]:
df = df[df['Gender'] != 'Other']

In [45]:
nan_counts = df.isna().sum()

# Display the number of NaN values in each column
print("NaN counts per column:")
print(nan_counts)

NaN counts per column:
Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
Category               0
dtype: int64

In [46]:
df = df.dropna()

In [47]:
categorical_columns = df.select_dtypes(include=['object']).columns


# Iterate over each categorical column
for column in categorical_columns:
    unique_values = df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'Gender': ['Male' 'Female']
Unique values in 'Education Level': ["Bachelor's Degree" "Master's Degree" 'PhD' 'High School']
Unique values in 'Job Title': ['Engineering' 'Analytics' 'Management' 'Sales' 'Marketing' 'Science'
 'Human Resources' 'Finance' 'Customer Service' 'Administrative' 'IT'
 'Consulting' 'Design' 'Junior Data Scientist' 'Senior Operations Analyst'
 'Senior Human Resources Coordinator' 'Senior UX Designer'
 'Junior Product Manager' 'Senior Marketing Specialist'
 'Senior IT Project Manager' 'Senior Quality Assurance Analyst'
 'Director of Sales and Marketing' 'Senior Account Executive'
 'Director of Business Development' 'Junior Social Media Manager'
 'Senior Human Resources Specialist' 'Senior Data Analyst'
 'Director of Human Capital' 'Junior Advertising Coordinator'
 'Junior UX Designer' 'Senior Marketing Director' 'Senior IT Consultant'
 'Senior Financial Advisor' 'Junior Business Operations Analyst'
 'Junior Social Media Specialist' 'Senior Product Development Manager'
 'Junior Operations Manager' 'Senior Software Architect'
 'Junior Research Scientist' 'Senior Financial Manager'
 'Senior HR Specialist' 'Senior Data Engineer'
 'Junior Operations Coordinator' 'Director of HR'
 'Senior Operations Coordinator' 'Junior Financial Advisor'
 'Director of Engineering' 'Software Engineer Manager'
 'Back end Developer' 'Senior Project Engineer' 'Full Stack Engineer'
 'Front end Developer' 'Front End Developer' 'Director of Data Science'
 'Human Resources Coordinator' 'Junior Sales Associate'
 'Human Resources Manager' 'Juniour HR Generalist'
 'Juniour HR Coordinator' 'Digital Marketing Specialist' 'Receptionist'
 'Marketing Director' 'Social Media Man' 'Delivery Driver']
Unique values in 'Category': ['Engineering' 'Management' 'Sales' 'Marketing' 'HR' 'Support' 'Creative'
 'Finance']

In [48]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Category
0,32.0,Male,Bachelor's Degree,Engineering,5.0,90000.0,Engineering
1,28.0,Female,Master's Degree,Analytics,3.0,65000.0,Engineering
2,45.0,Male,PhD,Management,15.0,150000.0,Management
3,36.0,Female,Bachelor's Degree,Sales,7.0,60000.0,Sales
4,52.0,Male,Master's Degree,Management,20.0,200000.0,Management

In [49]:
df=df.drop('Job Title',axis=1)

In [50]:
df = df.rename(columns={'Category': 'Job Title'})

In [51]:
df.head()

    Age  Gender    Education Level  Years of Experience    Salary    Job Title
0  32.0    Male  Bachelor's Degree                  5.0   90000.0  Engineering
1  28.0  Female    Master's Degree                  3.0   65000.0  Engineering
2  45.0    Male                PhD                 15.0  150000.0   Management
3  36.0  Female  Bachelor's Degree                  7.0   60000.0        Sales
4  52.0    Male    Master's Degree                 20.0  200000.0   Management

In [52]:
nan_counts = df.isna().sum()

# Display the number of NaN values in each column
print("NaN counts per column:")
print(nan_counts)

NaN counts per column:
Age                    0
Gender                 0
Education Level        0
Years of Experience    0
Salary                 0
Job Title              0
dtype: int64

In [53]:
df=pd.get_dummies(df)
X=df.drop("Salary",axis=1)
y=df['Salary']

In [54]:
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pandas as pd

# Assuming you have your feature data in a DataFrame 'X' and target variable in a Series 'y'

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create an instance of the XGBoost regressor
xgb_reg = xgb.XGBRegressor()

# Fit the regressor to the training data
xgb_reg.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [55]:

y_pred = xgb_reg.predict(X_test)

In [56]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score


r2_score = xgb_reg.score(X_test, y_test)

print("R-squared Score:", r2_score)

R-squared Score: 0.9432106080304024

In [60]:
pickle.dump(xgb_reg, open('model.pkl','wb'))

In [59]:
model = pickle.load(open('model.pkl','rb'))